@media screen and (max-width: 1024px) {
  .management {
    padding-bottom: 70px;

    &__items {
      padding-top: 10px;
      background-color: $white-color;

      &::before,
      &::after {
        display: none;
      }
    }

    &__item {
      @include mb(0);

      position: sticky;
      top: 0;

      &.is-active {
        @include mb(0);
      }
    }

    &__text {
      height: auto;
      opacity: 1;
    }
  }
}
