.management {
  padding-bottom: 80px;

  &__title {
    margin-bottom: 60px;
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;

    &::before,
    &::after {
      @include bg-circle;
    }

    &::before {
      right: 0;
      top: 0;
      width: 639px;
      height: 307px;
      background-color: #f64b15;
      opacity: 0.12;
      filter: blur(150px);
    }

    &::after {
      right: -100px;
      bottom: 30px;
      width: 795px;
      height: 330px;
      background-color: #a390ff;
      opacity: 0.4;
    }
  }

  &__icon {
    position: absolute;
    right: 30px;
    top: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: $primary-color;
    transform: translateY(-50%);
    transition: background-color $transition;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 4px;
      width: 12px;
      height: 2px;
      background-color: #f1f3ff;
      transform: translate(-50%, -50%);
      transition: $transition;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__items {
    position: relative;
    z-index: 2;
  }

  &__item {
    border-bottom: 1px solid rgba(7, 4, 20, 10%);

    &.is-active {
      border: 1px solid rgba(7, 4, 20, 10%);
      border-radius: 14px;
      box-shadow: 0 0.6px 15px 0 rgba(0, 0, 0, 10%);
      background: #fbfbfb;

      .management {
        &__icon {
          background-color: $white-color;

          &::before {
            background-color: $black-color;
          }

          &::after {
            opacity: 0;
          }
        }

        &__item-title {
          color: $white-color;
          background-color: $black-color;

          .color-primary {
            color: #3e50e7;
          }
        }

        &__text {
          padding: 15px 30px 25px;
          opacity: 1;
        }
      }
    }
  }

  &__item-title {
    position: relative;
    border-radius: 14px 14px 0 0;
    padding: 25px 65px 25px 30px;
    font-family: $font-secondary;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    cursor: pointer;
  }

  &__text {
    overflow: hidden;
    border-radius: 0 0 14px 14px;
    padding: 0 30px;
    max-height: 0;
    box-sizing: content-box;
    background-color: $white-color;
    opacity: 0;
    transition: max-height 0.4s, opacity 0.4s, padding 0.4s;
    will-change: max-height, opacity;

    p {
      @include mb(20px);
    }
  }

  &__images {
    position: relative;
    z-index: 2;

    img {
      vertical-align: middle;
    }
  }

  &__img {
    display: none;

    &.is-active {
      display: block;
    }
  }
}

@media screen and (max-width: 1200px) {
  .management {
    &__inner {
      grid-template-columns: 1.4fr 1fr;
      gap: 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .management {
    &__title {
      margin-bottom: 25px;
    }

    &__inner {
      display: block;

      &::before {
        display: none;
      }

      &::after {
        opacity: 0.15;
      }
    }

    &__images {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .management {
    &__icon {
      right: 16px;
    }

    &__item.is-active {
      .management {
        &__text {
          padding: 16px;
        }

        &__item-title {
          padding: 13px 65px 13px 16px;
        }
      }
    }

    &__text {
      padding: 0 16px;
      font-size: 13px;

      p {
        @include mb(10px);

        font-size: 14px;
      }
    }

    &__item-title {
      padding: 21px 65px 21px 16px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 480px) {
  .management {
    &__title {
      margin-right: auto;
      margin-left: auto;
      max-width: 280px;
    }
  }
}