@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  0% {
    transform: scale(0.9);
  }
}

.page-wrapper {
  @include footerToBottom;

  overflow: hidden;
}

.bg-black {
  background-color: $black-color;
}

.page-inner {
  margin: 0 auto;
  padding: 0 calc(var(--container-offset) * 2);
  width: 100%;
  max-width: 1920px;
  background-color: $black-color;

  &__wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    padding: 30px 25px;
    background-color: $white-color;
  }

  &--offset {
    padding-bottom: 38px;
  }
}

.page-inner-bg {
  background-color: $black-color;
}

.breadcrumbs {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;

  li {
    display: inline;
    margin-right: 11px;
    font-size: 12px;
    color: #999ebf;
    transition: color $transition;

    a {
      position: relative;
      padding-right: 20px;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 9px;
        height: 9px;
        background: url("../img/chevron-right-icon.svg") center no-repeat;
        transform: translateY(-50%);
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: #242f8a;
    }

    &:last-child {
      margin-right: 0;
      color: #2936a3;

      a {
        padding-right: 0;

        &::after {
          display: none;
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.container-lg {
  margin: 0 auto;
  padding: 0 calc(var(--container-offset) * 2);
  width: 100%;
  max-width: 1920px;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: 100%;
}

.container-md {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: 1356px;
}

.container-sm {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: 1190px;
}

.container-xs {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: 1130px;
}

.disable-scroll {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.text-center {
  text-align: center;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(#251e1e, 0.5);
  opacity: 0;
  transition: $menu-transition;

  &.is-active {
    // opacity: 1;
  }
}

.list {
  li {
    @include mb(10px);

    position: relative;
    padding-left: 18px;
    font-weight: 500;
    letter-spacing: 0.1px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      border-radius: 2px;
      width: 8px;
      height: 8px;
      background-color: $primary-color;
    }
  }
}

.arrow-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 7;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: url("../img/arrow-up-icon.svg") center no-repeat;
  background-color: $primary-color;
  opacity: 0;
  visibility: hidden;
  transition: opacity $transition, visibility $transition, background-color $transition;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #242f8a;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

.js-rating {
  li {
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/star-icon-hover.svg");
      opacity: 0;
      inset: 0;
    }

    &:hover {
      .star-rating__caption {
        display: block;
      }

      ~ li {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
      }
    }
  }

  &:hover {
    > li {
      &::before {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }
}

.color-primary {
  color: $primary-color;
}

.color-grey {
  color: #304659;
}

.title {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.1;
  text-align: center;
}

.section-offset {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-offset-b {
  padding-bottom: 120px;
}

@media screen and (max-width: 1440px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 1280px) {
  .page-inner__wrapper {
    background-color: #fbfbfb;
  }

  .title {
    font-size: 38px;
  }
}

@media screen and (max-width: 1024px) {
  .breadcrumbs {
    margin-bottom: 22px;
    font-size: 11px;
  }

  .page-inner {
    padding-right: 8px;
    padding-left: 8px;

    &__wrapper {
      border-radius: 15px;
      padding: 20px 16px 45px;
    }
  }

  .page-inner--offset {
    padding-bottom: 8px;
  }

  .container-lg {
    padding: 0 16px;
  }

  .list li::before {
    top: 6px;
  }

  .title {
    font-size: 34px;
  }

  .section-offset {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .section-offset-b {
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 768px) {
  .arrow-up {
    right: 20px;
    bottom: 20px;
    width: 56px;
    height: 56px;
    background-size: 18px;
  }

  .container-lg {
    padding: 0 8px;
  }

  .title {
    font-size: 30px;
  }
}