.page-wrapper {
  .swiper-pagination {
    position: static;
    margin-top: 30px;

    .swiper-pagination-bullet {
      margin: 0 7px;
      border: 1px solid $primary-color;
      width: 16px;
      height: 16px;
      background-color: $white-color;
      opacity: 1;
      transition: background-color $transition;

      &.swiper-pagination-bullet-active {
        background-color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page-wrapper {
    .swiper-pagination {
      margin-top: 25px;

      .swiper-pagination-bullet {
        margin: 0 4px;
        border: 1px solid $primary-color;
        width: 12px;
        height: 12px;
      }
    }
  }
}